<div #instruments class="instruments grid" [style.max-width.px]="maxWidth">
  <app-airspeed-indicator
    [speed]="(data$ | async)?.indicatedAirspeed || 0"
  ></app-airspeed-indicator>
  <app-attitude
    [bank]="(data$ | async)?.bankAngle || 0"
    [pitch]="(data$ | async)?.pitchAngle || 0"
  ></app-attitude>
  <app-altimeter
    [altitude]="(data$ | async)?.indicatedAltitude || 0"
    [pressure]="(data$ | async)?.kohlsmanSettingHg || 29.92"
  ></app-altimeter>

  <app-turn-indicator
    [turnDegree]="(data$ | async)?.turnIndicatorRate || 0"
    [slip]="(data$ | async)?.turnCoordinatorBall || 0"
  ></app-turn-indicator>

  <app-heading-indicator
    [heading]="(data$ | async)?.headingIndicatorDeg || 0"
    [beacons]="beacons || []"
    (toggleCourse)="toggleCourseVisibility($event)"
  ></app-heading-indicator>

  <app-variometer [speed]="(data$ | async)?.verticalSpeed || 0">
  </app-variometer>
</div>
