:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.instruments {
  height: 100%;
  width: 100%;
  max-width: 1500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  place-items: start;

  * {
    width: 100%;
  }
}

div.instrument {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;

  // Forcing 100% aspect ratio by "stretching"
  &::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
  }

  /* The box containing any element of an indicator */
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .move {
    will-change: transform;
  }
}

svg {
  text {
    text-anchor: middle;
    alignment-baseline: middle;
  }

  /* SVG buttons */
  &.buttons {
    text {
      font-size: 12px;
      font-weight: bold;
      pointer-events: none;
    }

    g.frequency text {
      font-size: 10px;
      font-family: "Digital Numbers", sans-serif;
      font-style: normal;
      text-shadow: rgb(255, 255, 255) 0px 0px 1px !important;

      pointer-events: none;
      fill: red;
    }

    rect {
      height: 30;
      width: 30;
      rx: 5;
      ry: 5;
      &.inactive {
        fill: grey;
      }
      &:hover {
        stroke: blue;
      }
    }
  } // buttons

  circle {
    r: 20;
    cy: 30;
  }
}

.box svg {
  height: 250;
  width: 250;
}

svg.course1 {
  line {
    stroke: yellow;
    stroke-width: 4;
  }

  marker polygon {
    fill: yellow;
  }
}

svg.course2 {
  polygon,
  rect {
    fill: none;
    stroke: green;
    stroke-width: 2;
  }
}

div.heading_text text {
  fill: white;
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
