%end-aligned {
  display: flex;
  justify-content: flex-end;
}

.right-aligned {
  @extend %end-aligned;
  width: 100%;
}

.bottom-aligned {
  @extend %end-aligned;
  flex-direction: column;
}

.page-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
