<div class="instrument" [style.width.px]="size" [style.height.px]="size">
  <div *ngIf="showBox" class="background box">
    <img src="img/indicator_background_dashboard.svg" class="box" alt="" />
  </div>
  <!-- The gauge -->
  <div class="inner box">
    <!-- Pressure plates at bottom-->
    <div class="pressure move inhg box">
      <img
        src="img/altimeter_pressure_inhg.svg"
        alt=""
        class="box"
        [fdRotate]="pressureRotationInhg"
      />
    </div>
    <!-- The "background" markings -->
    <div class="bg box">
      <img src="img/altimeter_background.svg" alt="" class="box" />
    </div>
    <!-- 10000ft hand -->
    <div class="hand10000 box">
      <img
        src="img/altimeter_hand_10000ft.svg"
        [fdRotate]="handAngle(10000)"
        class="box move"
        alt=""
      />
    </div>

    <div class="hand1k box">
      <img
        src="img/altimeter_hand_1000ft.svg"
        [fdRotate]="handAngle(1000)"
        class="box move"
      />
    </div>

    <div class="hand100 box">
      <img
        src="img/altimeter_hand_100ft.svg"
        [fdRotate]="handAngle(100)"
        class="box move"
        alt=""
      />
    </div>
  </div>
  <!-- foreground -->
  <!-- Fore ground -->
  <div class="foreground box">
    <img src="img/altimeter_foreground.svg" alt="" class="box" />
  </div>
</div>
