<div class="instrument" [style.width.px]="size" [style.height.px]="size">
  <div *ngIf="showBox" class="background box">
    <img src="img/indicator_background_dashboard.svg" class="box" alt="" />
  </div>
  <!-- The gauge -->
  <div class="inner box">
    <!-- The "background" markings -->
    <div class="bg box">
      <img src="img/vario_markings.svg" class="box" alt="" />
    </div>
    <!-- speed hand -->
    <div class="hand box">
      <img src="img/vario_hand.svg" class="box move" [fdRotate]="handAngle" />
    </div>
  </div>
  <!-- foreground -->
  <div class="indicator_foreground">
    <img src="img/indicator_foreground.svg" class="box" alt="" />
  </div>
</div>
