<p>six-pack-instruments works!</p>

<app-attitude
  [bank]="(data$ | async).bankAngle"
  [pitch]="(data$ | async).pitchAngle"
></app-attitude>
<app-altimeter
  [altitude]="(data$ | async).indicatedAltitude"
  [pressure]="(data$ | async).kohlsmanSettingHg"
></app-altimeter>
<app-airspeed-indicator
  [speed]="(data$ | async).indicatedAirspeed"
></app-airspeed-indicator>
<br />
<app-turn-indicator
  [turnDegree]="(data$ | async).turnIndicatorRate"
  [slip]="(data$ | async).turnCoordinatorBall"
></app-turn-indicator>
<!-- 
<span *ngFor="let gauge of instruments | slice: 0:3">
  <app-gauge [data]="data$" [gauge]="gauge"></app-gauge>
</span>
<br />
<span *ngFor="let gauge of instruments | slice: 3:6">
  <app-gauge [data]="data$" [gauge]="gauge"></app-gauge>
</span> -->
