@use 'abstract/colors';
@use 'components/buttons';

button.connect {
  &.disconnected {
    background-color: grey;
  }

  &.connected {
    background-color: colors.$connected;
  }
}

.left-right-spacer {
  flex: 1 1 auto;
}
