<div class="header-layout">
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="menu-toggle" (click)="toggleMenu.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
    <div class="nav-list">
      <a href="/" class="nav-item">
        <mat-icon>home</mat-icon>
        <span class="nav-label">Home</span>
      </a>
    </div>

    <!-- Right-aligned box with buttons. -->
    <div class="end-container">
      <button
        mat-mini-fab
        class="connect"
        [ngClass]="isConnected ? 'connected' : 'disconnected'"
        [disableRipple]="true"
        (click)="toggleConnection.emit()"
        [matTooltip]="tooltip"
        matTooltipPosition="before"
        matTooltipClass="button-tooltip"
      >
        <mat-icon>
          {{ isConnected ? "cloud_done" : "cloud_off" }}
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
