@use 'abstract/colors';
@use 'components/buttons';
@use 'layout/align';

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-list {
  margin-left: 10px;
  display: flex;
  flex: 1 1 auto;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.nav-label {
  font-size: 14px;
  line-height: 14px;
}

.end-container {
  margin-left: auto;
}

button.connect {
  &.disconnected {
    background-color: colors.$disconnected;
  }

  &.connected {
    background-color: colors.$connected;
  }
}

@media screen and (min-width: 800px) {
  .nav-item {
    flex-direction: row;
    margin-right: 15px;
  }
  .nav-label {
    margin-left: 5px;
  }
}

// Phone+landscape, move bar to vertical.
@media screen and (max-height: 500px) {
  .toolbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;

    .nav-label {
      display: none;
    }
  }

  .nav-list {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 10px 3px;
    margin: 0;
  }
  .title {
    display: none;
  }

  .end-container {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: auto;
    margin-bottom: 5px;
  }

  .header-layout {
    height: 100%;
  }
}
