@use 'abstract/colors';
@use 'components/buttons';
@use 'layout/align';
@import "theme/active";
@import "~@angular/material/theming";

$background: map-get(
  $map: $theme,
  $key: "background",
);

.mat-toolbar {
  background-color: mat-color($theme-primary);
  color: $dark-primary-text;
}

button.connect {
  &.disconnected {
    background-color: colors.$disconnected;
  }

  &.connected {
    background-color: colors.$connected;
  }
}

@media screen and (max-height: 500px) {
  mat-toolbar {
    height: 0px;
  }

  button {
    display: absolute;
  }

  button.connect {
    width: 30px;
    height: 30px;

    mat-icon {
      font-size: 14px;
    }
  }
}
