// The container of the whole page.
div.page {
  // background-color: black;
  // height: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  .sidenav-container {
    flex: 1 0 auto;
    // height: 100%;
  }

  .footer {
    flex-shrink: 0;
  }
}

mat-sidenav-content {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.content {
  overflow-y: auto;
  min-height: 80vh;
  width: 100%;
  height: 100%;
}

.float {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
