<div class="page">
  <app-header
    [title]="title"
    [isConnected]="dataServiceConnected()"
    (toggleMenu)="sidenav.toggle()"
    (toggleConnection)="changeState()"
  ></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <app-navbar (toggleDebug)="toggleDebug($event)"></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div #content class="content">
        <router-outlet></router-outlet>
        <button mat-mini-fab class="float" (click)="toggleFullScreen()">
          <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
          <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
        </button>
        <!-- <div class="screen"></div> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <hr />
  <div class="footer">
    <app-footer [displayDebug]="displayDebug"></app-footer>
  </div>
</div>
