<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>
  {{ title }}
</h1>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <mat-list-item>
        <button
          mat-mini-fab
          [class.connected]="dataServiceConnected()"
          [disableRipple]="true"
          color="basic"
          (click)="changeState()"
          [title]="tooltip"
        >
          <mat-icon>
            {{ dataServiceConnected() ? "cloud_done" : "cloud_off" }}
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-instruments></app-instruments>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-debug-info></app-debug-info>
