<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>
  {{ title }}
</h1>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-slide-toggle
          [checked]="dataServiceConnected()"
          (change)="onToggleChange($event)"
        >
          <mat-icon>offline_bolt</mat-icon>
        </mat-slide-toggle>
        <!-- <span matLine>Connect</span> -->
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-instruments></app-instruments>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-debug-info></app-debug-info>
